@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-name {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.section-icons {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
}

.logout-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border: none;
  background-color: #dbe7f2;
  color: #333;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 22px;
  font-weight: 500;
  color: red;
}

.logout-button:hover {
  background-color: #e9ecef;
}

.logout-icon {
  font-size: 22px;
  color: #dc3545;
}

@media (max-width: 768px) {
  .topbar {
    padding: 15px;
  }

  .section-name {
    font-size: 20px;
  }

  .logout-button {
    padding: 6px 12px;
    font-size: 22px;
  }

  .logout-icon {
    font-size: 22px;
  }
}

.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 5px);
  display: none;
  z-index: 1;
}

.toggle-hidden {
  display: none;
}

.parent-div label {
  cursor: pointer;
}

.toggle-hidden:checked + .parent-div ul {
  display: block;
}

.toggle-hidden:checked ~ .parent-div ul,
.toggle-label:hover + .parent-div ul {
  display: block;
}

.links ul li .topbar-link {
  display: block;
  padding: 5px;
  padding-left: 20px;
  text-decoration: none;
  transition: var(--main-duration);

  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  color: #3a3e63;
  line-height: 40px;
  font-weight: 400;
}

.links ul li .topbar-link:hover {
  padding-left: 25px;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 30px;
}

.link {
  position: relative;
  cursor: pointer;
}
